html {
    font-family: 'Marck Script', cursive;
    font-size: 2em;
    border: 10px solid burlywood;
    background: radial-gradient(rgb(16, 105, 77), rgb(1, 80, 54));
    min-height: calc(100% - 20px);
    color: whitesmoke;
    line-height: 2em;
}

a {
    color: rgb(200, 47, 47);
    border: 2px dashed white;
    padding: 0 0.1em;
    font-family: 'Jolly Lodger', cursive;
}

a:hover {
    color: orangered;
    transition: all 200ms linear;
}

body {
    margin: 1em;
}

h1, h2 {
    text-align: center;
    font-family: 'Jolly Lodger', cursive;
}

/* Cursor styles */
* {
    cursor: crosshair;
}

.chalk-cursor {
    position: absolute;
    height: 50px;
    width: 50px;
    transform: scale(-1, 1) translate(16px, -42px);
    cursor: none;
    pointer-events: none;
    display: none;
}

/* styles to make our anime cover images a nice size */
.cover-image {
    width: 80px;
    height: 100px;
}

/* style all table elements on the page */
table {
    border-collapse: collapse; /* remove the gap between the table cells */
    border: 1px solid black; /* add a border around the outside of the table */
}

th {
    border: 1px solid black; /* add a border around each header cell */
    background-color: mediumslateblue;
}

td {
    border-bottom: 1px solid black; /* add a line beneath each row of the table */
    padding: 1em; /* give each table cell in the body some extra room */
    background-color: lavender;
    color: red;
}

/* color the blockquote text */
blockquote {
    color: darkgoldenrod;
    background-color: lightgray;
    display: inline-block;
    padding: 0 0.5em;
}

/* styles for the pokemon game */
#grass {
    height: 50vh;
    background: url("images/grass.png");
}

#pokedex {
    border: 2px dashed red;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}

#pokedex-img {
    height: 100px;
}

#pokedex-pokemon {
    display: grid;
    grid-auto-rows: auto;
    grid-template-rows: min-content;
    grid-template-columns: repeat(auto-fill, minmax(96px, 1fr));
    gap: 1em;
    height: 100%;
    width: 100%;
}
